ion-content{
   
  --ion-background-color: #1d3466;

}

ion-item{
  color: #fff;
}

ion-col{
  text-align: center;
}

.textcol{
  line-height: 80%;
}


.cardicon{
  --ion-background-color: #ffffff;
}

.headertitle{
  color:#fff;
  font-size:12px;
  font-weight: bold;
}

.headertitle h1{
  font-size:28pt;
  font-weight: bolder;
}